body {
    background-color: darkolivegreen;
}

/* .outer-container {
    background-color: slategray;
    border: slateblue dotted .2em;
} */

.inner-container {
    text-align: center;
    color: wheat;
}

.clock-container {
    border: .2vw dotted midnightblue;
    background-color: blueviolet;
    max-width: 62%;
    padding: 2em;
    margin: auto;
}

#top-section, .controls-div, #clock-section, #clock-controls, #clock-top {
    display: flex;
    justify-content: space-evenly;
    /* border: solid .11em firebrick; */
    background-color: darkgray;
    /* margin-bottom: .8vw; */
}

#top-section {
    width: 56%;
    padding-bottom: 1.1em;
    margin: auto;
}

#break-increment, #break-decrement, #session-increment, #session-decrement {
    margin: 1.1vw;
    background-color: darkkhaki;
    /* border: firebrick solid .4vw; */
}

#break-label, #session-label, #clock-controls {
    background-color: darkolivegreen;
    font-size: x-large;
}

#clock-section {
    flex-direction: column;
    width: 47%;
    margin: auto;
    border-top: none;
    background-color: darkkhaki;
    /* border: darkgrey solid .2vw; */
}

#clock-top, #clock-controls {
    justify-content: space-around;
    margin: .89vw;
    font-size: xx-large;
}

#clock-controls {
    align-items: center;
    align-content: center;
    color: goldenrod;
}

#start_stop, #reset {
    font-size: xx-large;
    /* margin-right: 8%; */
    padding-top: 1.1vh;
}

