body {
    color: springgreen;
    background-color: midnightblue;
}

#editor, #editor02 {
    background-color: steelblue;
    color: maroon;
    outline: none;
    border: mediumpurple solid 4px;
}

#editor02 {
    margin-top: 11%;
}

#preview, #preview02 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: springgreen solid 4px;
    max-width: 65vw;
    margin: auto;
    background-color: gray;
    margin-top: 8%;
}

ul, ol {
    list-style-position: inside;
}

#preview img, #preview02 img {
    width: 76%;
}

table, tr, th, td {
    border: solid 2px silver;
    padding: 2px;
}

blockquote {
    background-color: whitesmoke;
}

blockquote p {
    display: flex;
}

.sample-line {
    width: .8em;
    height: 2em;
    fill: violet;
}