body {
    background-color: green;
}

#display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 40vw;
    margin: auto;
}

.drum-pad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11vw;
    height: 8vh;
    margin: 2px;
    border: gray solid .2em;
    background-color: dimgrey;
}

.pad-key {
    align-items: center;
}

.drum-machine-outer-container {
    background-color: lawngreen;
    width: fit-content;
    padding-bottom: 17px;
    margin: auto;
}

#drum-machine, #which-sound {
    display: flex;
    justify-content: center;
    align-items: center;
}

#which-sound {
    width: 8em;
    height: 2em;
    border: mediumorchid solid .6em;
    margin: 2em;
    /* margin-right: 3.8em; */
    font-size: larger;
    font-weight: bolder;
}

.key-text {
    font-size: larger;
    font-weight: bolder;
}

#outputs {
    background-color: dimgrey;
    margin-right: 2.9%;
}

#outputs input {
    /* padding-left: .8vw; */
    width: 8vw;
    margin-left: 0;
    margin-right: 15%;
}

#volume-level {
    display: flex;
    justify-content: space-evenly;   
}

#volume-level span {
    margin-left: 11%;
    padding: 2.4%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: larger;
}